- title 'Ask a Dietitian'

= form_tag :nutritional_contacts do

  %p
    = text_field_tag :name, params[:name], placeholder: 'Name', class: 'span_6_of_12'

  %p
    = text_field_tag :email, params[:email], placeholder: 'Email address', class: 'span_6_of_12'

  %p
    = text_area_tag :body, params[:body], placeholder: 'Your message', rows: 10, class: 'span_6_of_12'

  %p
    = submit_tag 'Send Message'
    or
    = link_to 'Cancel', root_path
