= form_with model: @note do |f|
  - if f.object.errors.any?
    .alert.alert-danger= f.object.errors.full_messages.to_sentence
  .mb-3
    = f.label :title, class: 'form-label'
    = f.text_field :title, class: 'form-control', tabindex: 1
  .mb-3{ data: { controller: "tag-inserter" } }
    = f.label :kind, class: 'form-label'
    - Current.user.notes.pluck(:kind).uniq.compact.each_with_index do |kind, i|
      = link_to kind, "#", data: { action: "tag-inserter#insert" }, class: 'btn btn-secondary btn-sm'
    = f.text_field :kind, class: 'form-control', tabindex: 2, data: { tag_inserter_target: "input" }
  .mb-3
    = f.label :body, class: 'form-label'
    = f.hidden_field :body, id: 'trix-editor-content'
    <trix-editor input="trix-editor-content" autofocus="true"></trix-editor>
  .mb-3
    = f.label :meta, class: 'form-label'
    = f.text_area :meta, rows: 3, class: 'form-control', tabindex: 4
  .mb-3{ data: { controller: "tag-inserter" } }
    = f.label :note_tag_list, class: 'form-label'
    %p
      - f.object.suggested_tags.limit(9).each do |tag|
        = link_to tag.name, "#", data: { action: "tag-inserter#insert" }, class: 'btn btn-secondary btn-sm'
    = f.text_field :note_tag_list, value: f.object.note_tag_list.to_s, class: 'form-control', tabindex: 4,
      data: { tag_inserter_target: "input" }
  .mb-3
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', :notes, class: 'btn btn-secondary'
