- title 'Notes'

- content_for :sidebar do

  .d-grid.gap-2
    = link_to [:new, :note], class: 'btn btn-success' do
      %i.bi-plus-lg
      New Note
    = link_to [:notes, { finished: 'Finished' }], class: 'btn btn-warning' do
      %i.bi-file-earmark-fill
      Finished Notes

  %hr

  %h3 Search
  = form_with url: :notes, method: :get, role: 'form' do |f|
    .mb-3
      = f.label :user_id, class: 'form-input'
      = f.select :user_id, User.where(role: %w(father mother)).map { |user| [user.name, user.id] }, { selected: params[:user_id] || current_user.id.to_s }, class: 'form-select'
    .mb-3
      = f.label :kind, class: 'form-input'
      = f.select :kind, [nil] + Note.pluck(:kind).uniq.compact, { selected: params[:kind] }, class: 'form-select'
    .mb-3
      = f.label :term, class: 'form-input'
      = f.text_field :term, value: params[:term], class: 'form-control', placeholder: 'Search'
    .mb-3
      = f.label :finished, class: 'form-input'
      = f.select :finished, %w(Unfinished Finished Either), { selected: params[:finished] }, { class: 'form-select' }
    .form-check
      = f.check_box :random, checked: !params[:random].to_i.zero?, class: 'form-check-input', id: 'search-random-checkbox'
      = f.label :random, class: 'form-check-label', for: 'search-random-checkbox'
    .mb-3.d-grid.gap-2
      = f.submit 'Search', class: 'btn btn-primary'

  %hr

  - if Note.note_tag_counts.present?
    .panel.panel-default
      .panel-heading
        %h3.panel-title Tags
      .panel-body
        - tag_cloud(Note.tag_counts_on(:note_tags).order(:name), %w(1 2 3 4)) do |tag, frequency|
          = link_to tag.name, notes_path(tag: tag.name), style: "font-size: #{frequency.to_i * 0.5}em"

- if @notes.empty?
  .jumbotron
    %h2 No results found
    %p Maybe search for something else?
    %p
      Or
      = link_to 'try the blog!', :posts
- else
  - @notes.each do |note|
    .well
      .row
        .col-md-12
          .pull-right
            - if note.finished_at.present?
              = link_to [note, { note: { finished_at: nil } }], method: :patch, class: 'btn btn-default btn-xs' do
                Unfinish
            - else
              = link_to [note, { note: { finished_at: Time.zone.now } }], method: :patch, class: 'btn btn-default btn-xs' do
                Finish
            .btn-group
              = link_to [:edit, note], class: 'btn btn-default btn-xs' do
                %i.bi-pencil-fill
                Edit
              = link_to note, class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Are you sure you want to delete this note?' } do
                %i.bi-trash-fill
                Delete
          %strong
            = link_to note, style: 'color: inherit' do
              #{note.kind}: #{note.title}
          - note.note_tag_list.each do |tag_name|
            %span.label.label-default{ style: 'margin-left: 0.5em' }
              = link_to tag_name, [:notes, { tag: tag_name }], style: 'color: inherit'

  = paginate @notes
