- content_for(:title) { 'Notes' }

- content_for :sidebar do

  .d-grid.gap-2
    = link_to [:new, :note], class: 'btn btn-success' do
      %i.bi-plus-lg
      New Note

  %hr

  %h3 Search
  = form_with model: @search, url: :notes, method: :get do |f|
    .mb-3
      = f.label :user_id, class: 'form-input'
      = f.select :user_id, User.where(role: %w(father mother)).map { |user| [user.name, user.id] }, {}, class: 'form-select'
    .mb-3
      = f.label :kind, class: 'form-input'
      = f.select :kind, [nil] + Note.pluck(:kind).uniq.compact, {}, class: 'form-select'
    .mb-3
      = f.label :term, class: 'form-input'
      = f.text_field :term, class: 'form-control', placeholder: 'Search'
    .form-check
      = f.check_box :random, class: 'form-check-input', id: 'search-random-checkbox'
      = f.label :random, class: 'form-check-label', for: 'search-random-checkbox'
    .mb-3.d-grid.gap-2
      = f.submit 'Search', class: 'btn btn-primary'

  - if Note.note_tag_counts.present?
    %hr
    - tag_counts = Note.tag_counts_on(:note_tags).order(taggings_count: :desc)
    = render partial: 'shared/tag_list', locals: { path: :notes, tag_counts: tag_counts, total_count: Note.count }

- if @search.notes.empty?
  .alert.alert-warning
    %h2 No results found
    %p Maybe search for something else?
- else
  - @search.notes.each do |note|
    .mb-3
      %strong
        = link_to note, class: 'text-reset' do
          #{note.kind}: #{note.title}
      - note.note_tag_list.each do |tag_name|
        = link_to tag_name, [:notes, { note_search: { tag: tag_name } }], class: 'text-reset badge bg-secondary ms-2'

  = paginate @search.notes
