%h1 Baby Logs

- if @baby.nil?

  %p No baby yet!

- else

  .row

    - colspan = 1
    - if can? :edit, BabyLog
      - colspan += 1
    - if can? :destroy, BabyLog
      - colspan += 1
    - day_ago = Time.zone.now - 24.hours
    - { 'Feedings' => @feedings, 'Wet Diapers' => @wet_diapers, 'Poopy Diapers' => @poopy_diapers }.each do |name, baby_logs|
      .span4
        %table.table.table-striped.table-hover.table-condensed
          %thead
            %tr
              %th{colspan: colspan}= name
          %tbody
            - baby_logs.each do |baby_log|
              %tr
                %td
                  - if baby_log.at.today?
                    This
                    = baby_log.at.hour > 12 ? 'afternoon' : 'morning'
                    = baby_log.at.strftime('%l:%M%P')
                  - elsif baby_log.at.to_date == Time.zone.now.to_date.yesterday
                    Yesterday
                    = baby_log.at.hour > 12 ? 'afternoon' : 'morning'
                    = baby_log.at.strftime('%l:%M%P')
                  - else
                    =l baby_log.at
                  - if can? :destroy, baby_log
                    = link_to baby_log, method: :delete, confirm: 'Are you sure?' do
                      %i.icon-trash.pull-right
                  - if can? :edit, baby_log
                    = link_to [:edit, baby_log] do
                      %i.icon-edit.pull-right
                  - if baby_log.notes.present?
                    %i.icon-star.pull-right.popover-note{data: {trigger: 'hover', title: BabyLog.human_attribute_name(:notes), content: baby_log.notes}}
          %tfoot
            %tr
              %td{colspan: colspan}
                In the past 24 hours:
                %strong= baby_logs.select { |bl| bl.at > day_ago }.size


  = form_for @baby_log do |f|

    = f.hidden_field :kind

    .row
      .span4
        %button{type: 'submit', class: 'btn btn-block btn-info', data: { kind: 'feeding' }}
          %i.icon-glass.icon-white.icon-3x
          %h3 Feeding
      .span4
        %button{type: 'submit', class: 'btn btn-block btn-warning', data: { kind: 'wet_diaper' }}
          %i.icon-tint.icon-white.icon-3x
          %h3 Wet Diaper
      .span4
        %button{type: 'submit', class: 'btn btn-block btn-danger', data: { kind: 'poopy_diaper' }}
          %i.icon-fire.icon-white.icon-3x
          %h3 Poopy Diaper

    .row
      .span12
        = f.text_area :notes, rows: 2, placeholder: "You can share details, if you'd like.", class: 'span12'
