.d-flex.justify-content-between
  %figure
    %blockquote.blockquote
      %p= comment.body
    %figcaption.blockquote-footer.text-light
      = comment.user&.name
      %small #{l(comment.created_at)}
  - if current_user == comment.user
    %div
      = link_to 'Edit', [:edit, comment], class: 'btn btn-sm btn-outline-info'
      = link_to 'Delete', comment, method: :delete, class: 'btn btn-sm btn-outline-danger'
