.toast
  .toast-header
    %strong.me-auto= comment.user&.name
    %small= l(comment.created_at)
  .toast-body.text-dark
    = comment.body
    - if Current.user == comment.user
      .mt-2.pt-2.border-top
        = link_to 'Edit', [:edit, comment], class: 'btn btn-sm btn-outline-info'
        = button_to 'Delete', comment, method: :delete, class: 'btn btn-sm btn-outline-danger'
