= form_with model: @comment do |f|
  = f.hidden_field :post_id
  - if f.object.errors.any?
    .mb-3.alert.alert-danger
      = f.object.errors.full_messages.to_sentence
  .mb-3
    = f.label :body, class: 'form-label autofocus'
    = f.text_area :body, rows: 5, class: 'form-control'
  .mb-3
    = f.submit "Save", class: "btn btn-primary"
