= form_with model: @entry do |f|
  - if f.object.errors.any?
    .alert.alert-danger
      = f.object.errors.full_messages.to_sentence
  .mb-3
    = f.label :at, class: 'form-label'
    = f.datetime_field :at, class: "form-control",  tabindex: 1
  .mb-3
    = f.label :user_id, class: 'form-label col-md-2'
    .btn-group.btn-group-justified{ data: { toggle: 'buttons' } }
      - current_user.users_whose_entries_i_can_edit.each do |user|
        = f.label nil, class: "btn btn-default #{f.object.user == user ? 'active' : ''}" do
          = f.radio_button :user_id, user.id, autocomplete: 'off'
          #{user.name}
  .mb-3
    = f.label :body, class: 'form-label col-md-2'
    = f.text_area :body, rows: 10, class: 'form-control autofocus', tabindex: 3
    %span.help-block.pull-right
      = link_to 'Formatting options', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: :blank
  .mb-3
    = f.label :entry_tag_list, class: 'form-label col-md-2'
    = render partial: '/shared/suggested_tags', locals: { tag_counts: Entry.entry_tag_counts, existing_tags: f.object.entry_tags }
    = f.text_field :entry_tag_list, :value => f.object.entry_tag_list.to_s, class: 'form-control'
  .mb-3
    = hidden_field_tag :redirect_to, request.referrer || entries_path
    %button.btn.btn-primary{ type: 'submit', tabindex: 4 } Save
    = link_to 'Cancel', entries_path, class: 'btn', tabindex: 5
