= form_with model: @entry, data: { controller: "autosave", autosave_interval_value: 5000 } do |f|
  - if f.object.errors.any?
    .alert.alert-danger
      = f.object.errors.full_messages.to_sentence
  .row.mb-3.d-flex.justify-content-between
    .col-auto
      = f.label :at, class: 'form-label'
      = f.datetime_field :at, class: "form-control",  tabindex: 1
      .form-text
        - if f.object.user&.born_at.present?
          #{timespan(f.object.user.born_at, f.object.at)} old
        - if f.object.at < 1.day.ago
          %br
          #{timespan(Time.current, f.object.at)} ago
  - if Current.user.parent?
    .mb-3
      = f.label :user_id, class: 'form-label d-block'
      - Current.user.users_whose_entries_i_can_edit.each do |user|
        = f.radio_button :user_id, user.id, autocomplete: 'off', class: 'btn-check', id: "user-id-#{user.id}"
        = f.label nil, user.name, class: 'btn btn-outline-secondary', for: "user-id-#{user.id}"
  - else
    = f.hidden_field :user_id
  .mb-3
    = f.label :body, class: 'form-label col-md-2'
    = f.hidden_field :body, id: 'trix-editor-content'
    <trix-editor input="trix-editor-content" data-autosave-target="editor" autofocus="true" tabindex=3></trix-editor>
  .row.mb-3
    .col-auto{ data: { controller: "tag-inserter" } }
      = f.label :entry_tag_list, class: 'form-label col-md-2'
      %p
        - f.object.suggested_tags.limit(9).each do |tag|
          = link_to tag.name, "#", data: { action: "tag-inserter#insert" }, class: 'btn btn-secondary btn-sm'
      = f.text_field :entry_tag_list, value: f.object.entry_tag_list.to_s, class: 'form-control', tabindex: 4,
        data: { tag_inserter_target: "input" }
  .mb-3
    = hidden_field_tag :redirect_to, request.referrer || entries_path
    = f.submit 'Save', class: 'btn btn-primary', tabindex: 4
