- title 'Journal'

- content_for :sidebar do

  - if can? :create, Entry
    = link_to [:new, :entry], class: 'btn btn-success btn-block' do
      %i.fa.fa-inverse.fa-plus
      New Journal Entry
  - current_user.users_whose_entries_i_can_edit.each do |user|
    - next if user.id == current_user.id
    = link_to entries_path(user_id: user.id), class: 'btn btn-warning btn-block' do
      %i.fa.fa-inverse.fa-book
        #{user.name}'s Journal
  = link_to :print_batches, class: 'btn btn-info btn-block' do
    %i.fa.fa-inverse.fa-print
    Print by Year

  %hr

  .panel.panel-default
    .panel-heading
      %h3.panel-title Search
    .panel-body
      = form_tag nil, method: :get, role: 'form' do
        .form-group
          = label_tag :ends_on, 'Date'
          = text_field_tag :ends_on, l(@ends_on), class: 'datepicker form-control'
        .form-group
          %label{ style: 'display: block' } Age
          .col-md-6
            = text_field_tag :age_months, params[:age_months], placeholder: 'Months', class: 'form-control'
          .col-md-6
            = text_field_tag :age_years, params[:age_years], placeholder: 'Years', class: 'form-control'
        .form-group
          = label_tag :user
          = select nil, :user_id, current_user.users_whose_entries_i_can_edit.map { |user| [user.name, user.id] }, { selected: @entry_user.id.to_s }, { class: 'form-control' }
        - if can? :create, Entry
          .form-group
            = label_tag :tag
            = select nil, :tag, Entry.entry_tag_counts.order(:name).pluck(:name), { include_blank: 'Any tag', selected: params[:tag] }, { class: 'form-control' }
        .checkbox
          %label
            = check_box_tag :random, '1', params[:random]
            Random
        .form-group
          = label_tag :term
          = text_field_tag :term, params[:term], class: 'form-control', :placeholder => 'Search'
        = submit_tag 'Search', class: 'btn btn-primary btn-block'

- if @entries.empty?
  .jumbotron
    %h2 No results found
    %p Maybe search for something else?
    %p
      Or
      = link_to 'try the blog!', :posts
- else
  - @entries.each do |entry|
    = div_for entry, class: 'well' do
      .row
        .col-md-12
          .pull-right
            - if can? :edit, entry
              .btn-group
                = link_to [:edit, entry], class: 'btn btn-default btn-xs' do
                  %i.fa.fa-edit
                  Edit
                = link_to entry, class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } do
                  %i.fa.fa-trash-o
                  Delete
            - if entry.entry_tags.present?
              .list-group{ style: 'margin-top: 0.5em' }
                - entry.entry_tag_list.each do |tag_name|
                  = link_to tag_name, entries_path(tag: tag_name), class: 'list-group-item list-group-item-success'
          %h2.h2
            = link_to entry, style: 'color: inherit' do
              = l entry.at.to_date, format: :long
              - if entry.at != entry.at.beginning_of_day
                %small
                  at
                  = l entry.at, format: '%l:%M%p'
          - if params[:term].present?
            .row
              .col-md-12
                %p
                  &hellip;
                  = entry.body.to_s[/\b.{0,55}#{params[:term].to_s.downcase}.{0,55}\b/i].gsub(/#{params[:term].to_s.downcase}/i, "<strong><em>#{params[:term]}</em></strong>").html_safe
                  &hellip;
          - else
            .row
              .col-md-12
                :markdown
                  #{entry.body}
            - photos = Photo.where(at: entry.at.beginning_of_day..entry.at.end_of_day).at_asc
            - if photos.present?
              .row
                .col-md-12
                  - photos.each do |photo|
                    - if photo.image?
                      = render photo, group: "group-#{entry.at.to_date}"

  = paginate @entries
