- title 'Journal'

- content_for :sidebar do

  .d-grid.gap-2
    = link_to %i[new entry], class: 'btn btn-success' do
      %i.bi-plus-lg
      New Journal Entry
    - current_user.users_whose_entries_i_can_edit.each do |user|
      - next if user.id == current_user.id
      = link_to entries_path(user_id: user.id), class: 'btn btn-warning' do
        %i.bi-book
        #{user.name}'s Journal
    = link_to :print_batches, class: 'btn btn-info' do
      %i.bi-printer
      Print by Year

  %hr
  %h3 Search
  = form_with url: :entries, method: :get do |f|
    .mb-3
      = f.label :ends_on, 'Date'
      = f.date_field :ends_on, value: @ends_on, class: 'form-control'
    .mb-3
      = f.label :age_months, "Age"
      .input-group
        = f.text_field :age_months, value: params[:age_months], placeholder: 'Months', class: 'form-control'
        = f.text_field :age_years, value: params[:age_years], placeholder: 'Years', class: 'form-control'
    .mb-3
      = f.label :user
      = f.select :user_id, current_user.users_whose_entries_i_can_edit.map { |user| [user.name, user.id] }, { selected: @entry_user.id.to_s }, { class: 'form-control' }
    .mb-3
      = f.label :tag
      = f.select :tag, Entry.entry_tag_counts.order(:name).pluck(:name), { include_blank: 'Any tag', selected: params[:tag] }, { class: 'form-control' }
    .form-check
      = f.check_box :random, checked: !params[:random].to_i.zero?, class: 'form-check-input', id: 'search-random-checkbox'
      = f.label :random, class: 'form-check-label', for: 'search-random-checkbox'
    .mb-3
      = f.label :term
      = f.text_field :term, value: params[:term], class: 'form-control', placeholder: 'Search'
    .mb-3.d-grid.gap-2
      = f.submit 'Search', class: 'btn btn-primary'

  = render partial: '/shared/calendar', locals: { starts_at: @entry_user.entries.order(at: :asc).first&.at, resource: :entries }

- if @entries.empty?
  .alert.alert-warning
    %h2 No results found
    %p Maybe search for something else?
- else
  - page_photos = []
  - previous_at = nil
  - @entries.each do |entry|
    - if params[:tag].present?
      %p.text-center
        = pluralize((previous_at.to_date - entry.at.to_date).to_i, 'day') if previous_at.present?
        - previous_at = entry.at
    .d-flex.justify-content-between
      %div
        %h2
          = link_to [:edit, entry], class: 'text-reset' do
            = l entry.at.to_date, format: :long
            - if entry.at != entry.at.beginning_of_day
              %small
                at
                = l entry.at, format: '%l:%M%p'
      %div
        - if entry.entry_tags.present?
          - entry.entry_tag_list.each do |tag_name|
            = link_to tag_name, entries_path(tag: tag_name), class: 'badge bg-info'
    - if params[:term].present?
      %p
        &hellip;
        = entry.body.to_s[/\b.{0,55}#{params[:term].to_s.downcase}.{0,55}\b/i].gsub(/#{params[:term].to_s.downcase}/i, "<strong><em>#{params[:term]}</em></strong>").html_safe
        &hellip;
    - else
      .mb-4
        = entry.body.html_safe
        - photos = Photo.where(at: entry.at.all_day).order(at: :asc).tagged_with(@entry_user.name, on: :photo_tags)
        - if photos.present?
          - page_photos += photos
          .d-flex.flex-wrap.align-items-center= render photos

  = paginate @entries

  - if page_photos.present?
    = render partial: "/shared/carousel_modal",
      locals: { photos: page_photos, modal_id: "photos-modal", carousel_id: "photos-carousel" }
