%p.pull-right
  %br
  = link_to new_entry_path, class: 'btn btn-success' do
    %i.icon-white.icon-plus
    New Entry

%h1 Journal

= render 'date_pagination'

.clearfix
  - if @grouped_entries.empty?
    %p Nothing yet.
  - else
    - @grouped_entries.each do |day, entries|
      - entries.each do |entry|
        = div_for entry do
          .btn-group.pull-right
            = link_to [:edit, entry], class: 'btn btn-small' do
              %i.icon-edit
              Edit
            = link_to entry, class: 'btn btn-small', method: :delete, confirm: 'Are you sure you want to delete this entry?' do
              %i.icon-trash
              Delete
          %h3=l entry.at, format: :long
          .body
            :markdown
              #{entry.body}
