.bg-white.text-dark

  %h1 #{@user.name} #{params[:year]}

  .row
    .col-md-9
      - @entries.each do |entry|
        .mt-3
          %h6.text-muted= l entry.at.to_date, format: :long
          = entry.body.gsub('<br>', '').html_safe
    - if @photos.present?
      .col-md-3
        = render partial: "/shared/carousel_modal",
          locals: { photos: @photos, modal_id: "photos-modal", carousel_id: "photos-carousel" }
        - @photos.each do |photo|
          %div{ data: { controller: "clipboard" } }
            = l photo.at
            &nbsp;
            %input{ type: "hidden", value: polymorphic_url(photo.image), data: { clipboard_target: "source" } }
            = link_to "#", title: "Copy to clipboard", data: { action: "clipboard#copy" } do
              %i.bi-clipboard
            = render photo
