%h1 #{params[:year]}

- @posts.each do |post|
  - photos = post.photos.at_asc
  = render partial: "/shared/carousel_modal",
    locals: { photos: photos, modal_id: "post-#{post.id}-modal", carousel_id: "post-#{post.id}-carousel" }
  .mt-3
    = post.body.html_safe
    .d-flex.flex-wrap.align-items-center
      = render photos
