= form_for @entry, url: blog_posts_path, class: 'form-horizontal', html: { data: { persist: 'garlic' } } do |f|
  .control-group
    = f.label :at, class: 'control-label'
    .controls
      = text_field_tag :at, l(f.object.at), class: 'datetimepicker'
      = f.hidden_field :at, value: l(f.object.at, format: :db), class: 'datetimepicker-hidden'
  .control-group
    = f.label :body, class: 'control-label autofocus'
    .controls
      = f.text_area :body, rows: 10
    %span.help-block.pull-right
      = link_to 'Formatting options', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: :blank
  .form-actions
    %button.btn.btn-primary{ type: 'submit'} Save
    = link_to 'Cancel', entries_path, class: 'btn'
