- title "Edit #{@inventory_item.name}"

- content_for :sidebar do

  .d-grid.gap-2
    = link_to @inventory_item, class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure you want to delete this #{InventoryItem.model_name.human}?" } do
      %i.bi-trash-fill
      Delete

= render 'form'

- if @inventory_item.photos.any?
  .row
    .col-md-12.photo-container
      = render @inventory_item.photos
