= form_for @user, class: 'form-horizontal' do |f|
  = @user.errors.full_messages.to_sentence
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email
  .control-group
    = f.label :password, 'New Password', class: 'control-label'
    .controls
      = f.password_field :password
  .control-group
    = f.label :password_confirmation, 'Confirm New Password', class: 'control-label'
    .controls
      = f.password_field :password_confirmation
  - if can? :change_role, f.object
    .control-group
      = f.label :role
      .controls
        = f.select :role, User::ROLES.map { |role| [role.titleize, role] }
  - if can? :change_api_key, f.object
    .control-group
      = f.label :api_key
      .controls
        = f.text_field :api_key
  .form-actions
    %button.btn.btn-primary{ type: 'submit'} Save
    = link_to 'Cancel', can?(:index, Entry) ? entries_path : blog_posts_path, class: 'btn'
