- content_for :sidebar do

  - if Current.user.parent?
    .d-grid.gap-2
      = button_to @user, class: 'btn btn-danger w-100', method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this user?' } do
        Delete

= form_for @user do |f|
  - if f.object.errors.any?
    .mb-3.alert.alert-danger
      = f.object.errors.full_messages.to_sentence
  .mb-3
    = f.label :name, class: 'form-label'
    = f.text_field :name, class: 'form-control'
  .mb-3
    = f.label :email, class: 'form-label'
    = f.text_field :email, class: 'form-control'
  .row.mb-3
    .col-1
      = f.label :color, class: 'form-label'
      = f.color_field :color, class: 'form-control'
  - if f.object.parent? || f.object.child?
    .mb-3
      = f.label :password, 'New Password', class: 'form-label'
      = f.password_field :password, class: 'form-control'
    .mb-3
      = f.label :password_confirmation, 'Confirm New Password', class: 'form-label'
      = f.password_field :password_confirmation, class: 'form-control'
  - if Current.user.parent?
    .mb-3
      = f.label :role, class: 'form-label'
      = f.select :role, User.roles.keys.map { |role| [role.titleize, role] }, {}, class: 'form-control'
    - if f.object.parent? || f.object.child?
      .mb-3
        = f.label :api_key, class: 'form-label'
        = f.text_field :api_key, class: 'form-control'
      .mb-3
        = f.label :born_at, class: 'form-label'
        = f.date_field :born_at, class: 'form-control'
  .mb-3
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', :root, class: 'btn btn-outline-secondary ms-3'
