- title 'Users Report'

- content_for :sidebar do
  .d-grid.gap-2
    = link_to [:new, :user], class: 'btn btn-success' do
      %i.bi-plus-lg
      New User

%table.table.text-light
  %thead
    %tr
      %th Name
      %th Email
      %th User Color
      %th Comments
  %tbody
    - @users.sort_by { |u| u.log_entries.logins.created_at_desc.first.try(:created_at) || Time.at(0) }.reverse.each do |user|
      %tr
        %td= link_to user.name, [:edit, user]
        %td= user.email
        %td{ style: "color: #{user.color}; filter: brightness(1.5) contrast(1.2);" }
          = user.color
        %td= user.comments.count
