.modal.text-dark{ id: modal_id, tabindex: "-1" }
  .modal-dialog.modal-fullscreen
    .modal-content
      .modal-body
        .modal-header
          %h5.w-100.text-center
            - photos.each_with_index do |photo, i|
              %span.carousel-captions.collapse.text-center{ id: "#{carousel_id}-caption-#{i}", class: i.zero? && 'show' }
                = photo.description.to_s.html_safe
          %button.btn-close{ type: 'button', data: { bs: { dismiss: 'modal' } } }
        - interval = 'false'
        - interval = (params[:interval].presence || 3).to_i * 1000 if controller_name == 'print_batches'
        - data = { bs: { interval: interval }, controller: "photo-carousel" }
        .carousel.carousel-dark.slide{ id: carousel_id, data: data }
          .carousel-inner
            - photos.each_with_index do |photo, i|
              - data = { index: i, modal: modal_id, carousel: carousel_id }
              .carousel-item{ class: i.zero? && 'active', data: { "carousel-item-photo-#{photo.id}": data } }
                - if photo.image.attached?
                  - css = 'd-block m-auto'
                  - if photo.image.previewable?
                    = video_tag rails_blob_url(photo.image), controls: true, class: css, style: 'height: 70vh'
                  - if photo.image.variable?
                    = image_tag photo.image, class: css, style: 'height: 90vh'
          %button.carousel-control-prev{ type: 'button', data: { bs: { target: "##{carousel_id}", slide: 'prev' } } }
            %span.carousel-control-prev-icon{ aria: { hidden: true } }
            %span.visually-hidden Previous
          %button.carousel-control-next{ type: 'button', data: { bs: { target: "##{carousel_id}", slide: 'next' } } }
            %span.carousel-control-next-icon{ aria: { hidden: true } }
            %span.visually-hidden Next
