:javascript
  function insertTag(tag) {
    var input = document.getElementsByName('#{input_name}')[0]
    if (input.value) {
      input.value = input.value + ', ' + tag.name
    } else {
      input.value = tag.name
    }
    document.getElementById(tag.id).remove()
  }

%p
  - tag_counts.order('taggings_count DESC').limit(9).where.not(id: existing_tags.pluck(:id)).each do |tag|
    - tag_json = { name: tag.name, css_id: "btn-tag-#{tag.id}" }.to_json
    = link_to tag.name, "javascript: insertTag(#{tag_json})", id: "btn-tag-#{tag.id}", class: 'btn btn-secondary btn-sm'
