.small{ data: { controller: "show-all" } }
  - if defined?(total_count)
    .list-group.mb-2
      = link_to path, class: "list-group-item list-group-item-action" do
        .badge.bg-secondary.rounded-pill.float-end= number_with_delimiter total_count
        All
  .list-group{ data: { show_all_target: "container" }, style: 'max-height: 20em; overflow-y: auto' }
    - tag_counts.each do |tag_count|
      = link_to [path, { tag: tag_count.name }], class: "list-group-item list-group-item-action py-1" do
        .badge.bg-secondary.rounded-pill.float-end #{tag_count.taggings_count}
        = tag_count.name
  - if tag_counts.size > 7
    .text-center
      = link_to '#', data: { action: "show-all#expand" }, class: "link-secondary text-decoration-none" do
        %i.bi-chevron-double-down
        Show all
        %i.bi-chevron-double-down
