
%h1.name-container.pull-left
  .daniel Daniel
  .amp &amp;
  .erika Erika

.description.pull-left
  %p
    This is the personal page for Daniel &amp; Erika Esplin. Daniel is a cofounder of #{link_to('Custom Bit', 'http://custombit.com')} and is on #{link_to('Google+', 'https://plus.google.com/u/0/106701434147772838561')} and #{link_to('Github', 'https://github.com/eremite')}. Erika works as a #{link_to('Registered Dietician', 'http://eatright.org')} and is on #{link_to('Facebook', 'http://facebook.com')}.
