.row
  .span3
    %h1.name-container
      .daniel Daniel
      .amp &amp;
      .erika Erika

  .span9

    .description
      %p Daniel Esplin is a cofounder of #{link_to('Custom Bit', 'http://custombit.com')}.
      %p Erika Esplin is a #{link_to('Registered Dietitian', 'http://eatright.org')}.
      %p We live with our daughter in Santa Clara, Utah.

    - if logged_in?
      = link_to 'See the blog!', blog_posts_path if can? :index, :blog_post
    - else
      = form_tag sessions_path, class: 'form-inline' do
        = email_field_tag :email, params[:email], class: 'autofocus span3', placeholder: 'Email'
        = password_field_tag :password, nil, class: 'span3', placeholder: 'Password'
        = submit_tag 'Log in', class: 'btn btn-primary'
