.hidden-xs.hidden-sm
  %br
  %br

.jumbotron.row

  .col-md-3.col-md-push-9
    - if current_user&.parent?
      .d-grid.gap-2
        = link_to 'See the blog!', %i(posts), class: 'btn btn-primary'
        = link_to 'Photos: Look and See', %i(photos), class: 'btn btn-warning'
        = link_to 'Browse the Journal', %i(entries), class: 'btn btn-info'
        = link_to 'Create Journal Entry', %i(new entry), class: 'btn btn-success'
    - else
      = form_tag :sessions do
        .form-group
          = label_tag :email, nil, class: 'form-label'
          = email_field_tag :email, params[:email], class: 'autofocus form-control', placeholder: 'Email'
        .form-group
          = label_tag :password, nil, class: 'form-label'
          = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
        .form-group
          = submit_tag 'Log in', class: 'btn btn-primary'

  .col-md-3.col-md-pull-3

    %h1{ style: "margin-left: 30px; position: relative; font-family: 'Courier New', 'Lucida Console', 'Monaco', monospace; font-size: 40px; line-height: 40px; text-transform: uppercase; height: 6em; font-weight: bold;" }
      %span{ style: 'position: absolute; top: 0; left: 1.2em; width: 1em; word-wrap: break-word;' } Daniel
      %span{ style: 'position: absolute; top: 88px; left: 30px; font-size: 100px; line-height: 100px; font-weight: bolder; color: rgba(80, 0, 80, 0.3);' } &amp;
      %span{ style: 'position: absolute; top: 3em; left: 0;' } Erika

  .col-md-6.col-md-pull-3.description

    .hidden-xs.hidden-sm
      %br
      %br
    %p Daniel Esplin is a #{link_to('Ruby on Rails Programmer', 'https://github.com/eremite')}.
    %p Erika Esplin is a #{link_to('Registered Dietitian', 'http://www.nutritionalbites.org')}.
    %p We live with our daughters in Santa Clara, Utah.
