- if Current.user.nil?
  %nav.navbar.navbar-dark.navbar-expand
    .container-fluid
      %span.right-align-the-login-form
      = form_with url: :sessions, class: 'd-md-flex' do |f|
        = f.email_field :email, value: params[:email], class: 'form-control me-2', placeholder: 'Email'
        = f.password_field :password, class: 'form-control me-2', placeholder: 'Password'
        .d-none.d-md-block= f.submit 'Log in', class: 'btn btn-success'
        .d-grid.d-md-none= f.submit 'Log in', class: 'btn btn-success'

.row.d-flex.align-items-center{ style: 'padding-top: 6rem' }
  .col.rounded-circle.bg-light.text-dark.py-4.d-none.d-md-block{ style: "max-width: 200px" }
    %h1{ style: "margin-left: 30px; position: relative; font-family: 'Courier New', 'Lucida Console', 'Monaco', monospace; font-size: 40px; line-height: 40px; text-transform: uppercase; height: 6em; font-weight: bold;" }
      %span{ style: 'position: absolute; top: 0; left: 1.2em; width: 1em; word-wrap: break-word;' } Daniel
      %span{ style: 'position: absolute; top: 88px; left: 30px; font-size: 100px; line-height: 100px; font-weight: bolder; color: rgba(80, 0, 80, 0.3);' } &amp;
      %span{ style: 'position: absolute; top: 3em; left: 0;' } Erika

  .col.mx-4.fs-5
    - with_options class: 'link-light' do |link|
      - bucket = 'https://s3.amazonaws.com/danielesplin-files/public'
      %ul
        %li= link.link_to('Github Profile', 'https://github.com/eremite')
        %li= link.link_to 'History of the LDS ward in Billerica, MA', "#{bucket}/billerica_ward/index.htm"
        - if Current.user.present?
          %li= link.link_to 'Mission to Panama', "#{bucket}/mission/index.html"
        %li= link.link_to 'Story: The Curious Tabby', "#{bucket}/stories/kitten/index.html"
        %li= link.link_to 'Story: Clara and her Horse', "#{bucket}/stories/horse/index.html"
        %li= link.link_to 'Story: Rose Learns to Love', "#{bucket}/stories/rose/index.html"
        %li= link.link_to 'Story: An Alliterative Alphabet', "#{bucket}/stories/alphabet/index.html"
        %li= link.link_to 'Game: One Ball Bouncing', 'https://eremit3.itch.io/one-ball-bouncing'
        %li= link.link_to('Nutritional Bites', 'https://www.nutritionalbites.org')
