= form_with model: saved_file, html: { multipart: true } do |f|
  - if f.object.errors.any?
    .alert.alert-danger
      = f.object.errors.full_messages.to_sentence
  .mb-3
    = f.label :saved_file_category_id, class: "form-label"
    = f.select :saved_file_category_id, SavedFileCategory.all.map { |c| [c.name, c.id] }, {}, class: "form-select"
  .mb-3
    = f.label :attachment, class: "form-label"
    = f.file_field :attachment, direct_upload: true, class: "form-control"
  .mb-3
    = f.label :description, class: "form-label"
    = f.text_field :description, class: "form-control"
  .mb-3
    = f.submit "Save", class: "btn btn-success"
    = link_to "Cancel", :saved_files, class: "btn btn-link"
