- title "#{@saved_file_category.try(:name)} Files".squish

- content_for :sidebar do

  .d-grid.gap-2
    - if @saved_file_category
      = link_to saved_files_path, class: 'btn btn-success' do
        All Categories
    = link_to new_saved_file_path, class: 'btn btn-success' do
      %i.bi-plus-lg
      Upload Files
    = link_to saved_file_categories_path, class: 'btn btn-success' do
      Manage Categories

  %hr
  = form_with model: SavedFileCategory.new do |f|
    .mb-3
      = f.label :name, class: 'form-label visually-hidden'
      = f.text_field :name, class: 'form-control'
    .mb-3.d-grid.gap-2
      = f.submit 'Add Category', class: 'btn btn-primary'

- if params[:category_id]

  %ul= render @saved_files
  %p.clearfix
    = paginate @saved_files

- else

  %h3 Categories
  %ul
    - @saved_file_categories.each do |category|
      %li
        = link_to category.name, saved_files_path(category_id: category.id)
        &ndash;
        = pluralize category.saved_files.count, 'file'

  - if @saved_files.any?
    %h3 Uncategorized files

    %ul= render @saved_files

    %p.clearfix
      = paginate @saved_files
