- title "Search results for '#{params[:term]}'"

- if @entries.empty?
  .row.clearfix
    %p Sorry, no results for '#{params[:term]}'.
- else
  %ul
    - @entries.each do |entry|
      %li
        = link_to l(entry.at.to_date, format: :long), entry
        %p= entry.body.to_s[/\b.{0,50}#{params[:term].to_s.downcase}.{0,50}\b/i].gsub(/#{params[:term].to_s.downcase}/i, "<strong><em>#{params[:term]}</em></strong>").html_safe
