= form_for @photo, class: 'form-horizontal' do |f|
  .control-group
    = f.label :at, class: 'control-label'
    .controls
      = text_field_tag :at, l(f.object.at), class: 'datetimepicker'
      = f.hidden_field :at, value: l(f.object.at, format: :db), class: 'datetimepicker-hidden'
  .control-group
    = f.label :entry_id, 'Blog Post'
    .controls
      = f.select :entry_id, Entry.public.at_desc.limit(30).map { |e| ["#{l(e.at.to_date)} #{e.title}", e.id] }, :include_blank => 'Default'
  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description, :rows => 3
  .control-group
    = f.label :image, class: 'control-label'
    .controls
      - if f.object.image?
        = image_tag(f.object.image.small.url, class: 'img-polaroid')
        = f.label :rotate_left, class: 'radio' do
          = f.radio_button :rotate, :left
          Rotate Left
        = f.label :rotate_right, class: 'radio' do
          = f.radio_button :rotate, :right
          Rotate Right
      = f.file_field :image
      = f.hidden_field :image_cache
    .controls
      .offset1 or
      = f.text_field :remote_image_url, placeholder: 'Upload via URL'
  .form-actions
    %button.btn.btn-primary{ type: 'submit'} Save
    = link_to 'Cancel', photos_path, class: 'btn'
