- if photo.image.representable?
  .col-auto.mb-3{ style: 'width: 250px' }
    .card.h-100.text-dark.bg-light
      = link_to photo.image do
        = image_tag photo.image.variant(resize_to_limit: [250, 150]), class: "card-img-top"
      .card-body
        = photo.description.to_s.html_safe
      - if current_user.parent?
        .card-footer.d-flex.justify-content-evenly
          = link_to 'Edit', [:edit, photo], class: 'btn btn-sm btn-outline-success'
          = link_to 'Delete', photo, method: :delete, class: 'btn btn-sm btn-outline-danger'
