- title 'Edit Photo'

.btn-group.pull-right
  - if can? :create, Entry, public: true
    = link_to new_blog_post_path(entry: { at: @photo.at }), class: 'btn btn-small' do
      %i.fa.fa-plus
      New Blog Post
  = link_to @photo, class: 'btn btn-small', method: :delete, data: { confirm: 'Are you sure you want to delete this photo?' } do
    %i.fa.fa-trash-o
    Delete

%p.clearfix

.pull-right
  = link_to @photo.image.url, title: l(@photo.at) do
    = image_tag @photo.resize_url(:medium), class: 'img-rounded'

= render 'form'
