- title 'Photos'

- content_for :sidebar do

  .row
    %h3.mb-3 Upload Photos
    = form_with model: PhotoBatch.new, html: { multipart: true  } do |f|
      .mb-3
        = f.file_field :images, multiple: true, class: "form-control"
      .mb-3.d-grid
        = f.submit "Save", class: "btn btn-primary"

  - if @photos.present?
    %hr
    .d-grid
      = render partial: "/shared/carousel_modal",
        locals: { photos: @photos, modal_id: "photos-modal", carousel_id: "photos-carousel" }
      = link_to 'Slideshow of this Page', '#', class: 'btn btn-success', data: { bs_toggle: 'modal', bs_target: "#photos-modal" }

  - if Photo.photo_tag_counts.present?
    %hr
    - tag_counts = Photo.tag_counts_on(:photo_tags).order(taggings_count: :desc)
    = render partial: 'shared/tag_list', locals: { path: :photos, tag_counts: tag_counts }

.row.g-3
  = render @photos

.row
  .col-md-12
    = paginate @photos
