- title 'Photos'

- tag_cloud(@tags, %w(1 2 3 4)) do |tag, frequency|
  = link_to tag.name, photos_path(tag: tag.name), style: "font-size: #{frequency.to_i * 0.5}em"

- if can? :create, Photo
  %p.pull-right
    %br
    = link_to new_photo_path, class: 'btn btn-success' do
      %i.fa.fa-inverse.fa-plus
      New Photo
    = link_to new_upload_batch_path, class: 'btn btn-success' do
      %i.fa.fa-inverse.fa-asterisk
      New Batch

%ul.thumbnails
  = render @photos

%p.clearfix
  = paginate @photos
