- content_for(:title) { 'Photos' }

- content_for :sidebar do

  .row
    %h3.mb-3 Upload Photos
    = form_with model: PhotoBatch.new, html: { multipart: true  } do |f|
      .mb-3
        = f.file_field :images, multiple: true, direct_upload: true, class: "form-control"
      .mb-3.d-grid
        = f.submit "Save", class: "btn btn-primary"

  %hr
  %h3 Search
  = form_with model: @search, url: :photos, method: :get do |f|
    .mb-3
      .btn-group{ role: 'group', aria: { label: 'Media filter' } }
        = f.radio_button :media, '', class: 'btn-check'
        = f.label :media, 'Both', class: 'btn btn-outline-success', for: 'photo_search_media_'
        = f.radio_button :media, 'photos', class: 'btn-check'
        = f.label :media, 'Photos', class: 'btn btn-outline-success', for: 'photo_search_media_photos'
        = f.radio_button :media, 'videos', class: 'btn-check'
        = f.label :media, 'Videos', class: 'btn btn-outline-success', for: 'photo_search_media_videos'
    .mb-3
      = f.label :order
      = f.select :order, PhotoSearch.order_options, {}, { class: 'form-control' }
    .mb-3
      = f.label :ends_on, 'Date'
      = f.date_field :ends_on, class: 'form-control'
    .mb-3
      = f.label :term, "Description"
      = f.text_field :term, class: 'form-control', placeholder: 'Search'
    .form-check.mb-3
      = f.check_box :nondescript, class: 'form-check-input',
        id: 'search-nondescript-checkbox'
      = f.label :nondescript, "Without description", class: 'form-check-label', for: 'search-nondescript-checkbox'
    .form-check.mb-3
      = f.check_box :unblogged, class: 'form-check-input',
        id: 'search-unblogged-checkbox'
      = f.label :unblogged, class: 'form-check-label', for: 'search-unblogged-checkbox'
    - if Current.user.parent?
      .form-check.mb-3
        = f.check_box :not_hidden, class: 'form-check-input',
          id: 'search-not-hidden-checkbox'
        = f.label :not_hidden, 'Include hidden photos', class: 'form-check-label', for: 'search-not-hidden-checkbox'
    .mb-3.d-grid.gap-2
      = f.submit 'Search', class: 'btn btn-primary'

  - if @search.photos.present?
    = render partial: "/shared/carousel_modal",
      locals: { photos: @search.photos, modal_id: "photos-modal", carousel_id: "photos-carousel" }

  - if Photo.photo_tag_counts.present?
    %hr
    - tag_counts = Photo.tag_counts_on(:photo_tags).order(taggings_count: :desc, name: :asc)
    = render partial: 'shared/tag_list', locals: { path: :photos, tag_counts: tag_counts, total_count: Photo.count }

  %hr
  = render partial: 'shared/calendar',
    locals: { starts_at: Photo.where.not(at: nil).order(at: :asc).first&.at, resource: :photos }

.d-flex.flex-wrap.align-items-center
  = render @search.photos

.row
  .col-md-12
    = paginate @search.photos
