- if can? :create, Photo
  %p.pull-right
    %br
    = link_to new_photo_path, class: 'btn btn-success' do
      %i.icon-white.icon-plus
      New Photo
    = link_to new_upload_batch_path, class: 'btn btn-success' do
      %i.icon-white.icon-asterisk
      New Batch

%h1 Photos

- @photos.each do |photo|
  = div_for photo, class: 'pull-left' do
    = link_to photo, title: l(photo.at) do
      = image_tag photo.image.small.url, class: 'img-polaroid' if photo.image.present?

%p.clearfix
  = paginate @photos
