- title 'Photos'

- content_for :sidebar do

  .row
    = form_with model: PhotoBatch.new, html: { multipart: true  } do |f|
      .mb-3
        = f.file_field :images, multiple: true, class: "form-control"
      .mb-3.d-grid.gap-2
        = f.submit "Save", class: "btn btn-primary"

  %hr

  - if Photo.photo_tag_counts.present?
    .panel.panel-default
      .panel-heading
        %h3.panel-title Tags
      .panel-body
        - tag_cloud(Photo.tag_counts_on(:photo_tags).order(:name), %w(1 2 3 4)) do |tag, frequency|
          = link_to tag.name, photos_path(tag: tag.name), style: "font-size: #{frequency.to_i * 0.5}em"

.row.g-3
  = render @photos

.row
  .col-md-12
    = paginate @photos
