- title 'Photos'

- content_for :sidebar do

  .row
    %h3.mb-3 Upload Photos
    = form_with model: PhotoBatch.new, html: { multipart: true  } do |f|
      .mb-3
        = f.file_field :images, multiple: true, direct_upload: true, class: "form-control"
      .mb-3.d-grid
        = f.submit "Save", class: "btn btn-primary"

  %hr
  %h3 Search
  = form_with url: :photos, method: :get do |f|
    .mb-3
      = f.label :order
      = f.select :order, Photo.order_options, { selected: params[:order] }, { class: 'form-control' }
    .mb-3
      = f.label :ends_on, 'Date'
      = f.date_field :ends_on, value: params[:ends_on], class: 'form-control'
    .mb-3
      = f.label :term, "Description"
      = f.text_field :term, value: params[:term], class: 'form-control', placeholder: 'Search'
    .form-check.mb-3
      = f.check_box :nondescript, checked: !params[:nondescript].to_i.zero?, class: 'form-check-input',
        id: 'search-nondescript-checkbox'
      = f.label :nondescript, "Without description", class: 'form-check-label', for: 'search-nondescript-checkbox'
    .form-check.mb-3
      = f.check_box :unblogged, checked: !params[:unblogged].to_i.zero?, class: 'form-check-input',
        id: 'search-unblogged-checkbox'
      = f.label :unblogged, class: 'form-check-label', for: 'search-unblogged-checkbox'
    - if Current.user.parent?
      .form-check.mb-3
        = f.check_box :not_hidden, checked: !params[:not_hidden].to_i.zero?, class: 'form-check-input',
          id: 'search-not-hidden-checkbox'
        = f.label :not_hidden, 'Include hidden photos', class: 'form-check-label', for: 'search-not-hidden-checkbox'
    .mb-3.d-grid.gap-2
      = f.submit 'Search', class: 'btn btn-primary'

  - if @photos.present?
    = render partial: "/shared/carousel_modal",
      locals: { photos: @photos, modal_id: "photos-modal", carousel_id: "photos-carousel" }
    %hr
    = form_with url: Photo.where(hidden: false).sample, method: :get do |f|
      .mb-3
        = f.label :next_in, 'Number of Seconds'
        = f.number_field :next_in, value: 90, min: 1, max: 43200, class: 'form-control'
      .mb-3
        = f.label :days, 'Days before and after'
        = f.number_field :days, value: 7, min: 1, max: 90, class: 'form-control'
      .mb-3.d-grid.gap-2
        = f.button class: 'btn btn-info', type: 'submit' do
          %i.bi-images
          Slideshow

  - if Photo.photo_tag_counts.present?
    %hr
    - tag_counts = Photo.tag_counts_on(:photo_tags).order(taggings_count: :desc, name: :asc)
    = render partial: 'shared/tag_list', locals: { path: :photos, tag_counts: tag_counts, total_count: Photo.count }

  %hr
  = render partial: 'shared/calendar',
    locals: { starts_at: Photo.where.not(at: nil).order(at: :asc).first&.at, resource: :photos }

.d-flex.flex-wrap.align-items-center
  = render @photos

.row
  .col-md-12
    = paginate @photos
