- if @photo.image&.variable?
  .bg-dark.text-light.d-flex.justify-content-center.vh-100.overflow-hidden
    .position-relative.d-inline-block
      = image_tag @photo.image, class: "vh-100", style: "object-fit: cover;"
    .position-absolute.top-0.start-50.translate-middle-x.mt-3.px-3.bg-dark.bg-opacity-50.p-2.rounded
      = @photo.description.to_s.html_safe
    .position-absolute.bottom-0.end-0.m-3
      = l @photo.at&.to_date

  - if params[:next_in].to_i.positive?
    :javascript
      const seconds = parseInt(#{params[:next_in]})
      const days = parseInt(#{params[:days]})
      const nextId = #{Photo.random_photo_around_the_current_time_of_the_year(day_span: params[:days], ids_to_exclude: @photo.id)&.id || 0}
      if (!isNaN(seconds)) {
        setTimeout(function() {
          window.location.href = `/photos/${nextId}?next_in=${seconds}&days=${days}`
        }, seconds * 1000)
      }
