- title l(@photo.at, format: :long)

- if can? :update, Photo
  .btn-group.pull-right
    = link_to new_blog_post_path(entry: { at: @photo.at }), class: 'btn btn-small' do
      %i.icon-plus
      New Blog Post
    = link_to [:reprocess, @photo], class: 'btn btn-small', method: :put do
      %i.icon-picture
      Reprocess
    = link_to [:edit, @photo], class: 'btn btn-small' do
      %i.icon-edit
      Edit
    = link_to @photo, class: 'btn btn-small', method: :delete, data: { confirm: 'Are you sure you want to delete this photo?' } do
      %i.icon-trash
      Delete

.pull-left
  = link_to @photo.image.url, title: l(@photo.at) do
    = image_tag @photo.image.medium.url, class: 'img-rounded' if @photo.image.present?

.pull-left{style: 'padding-left: 1em'}
  :markdown
    #{@photo.description}
