- photos = post.photos.where(hidden: false).order(at: :asc)
- if photos.present?
  = render partial: "/shared/carousel_modal", locals: { photos: photos, modal_id: "post-#{post.id}-modal", carousel_id: "post-#{post.id}-carousel" }

.mb-4{ class: post.at.future? && 'bg-secondary p-3 rounded' }
  %h5.float-end.text-reset
    - css_class = post.at.future? ? 'fst-italic' : ''
    - if post.at.future?
      %span{ class: css_class } Scheduled for
    - if Current.user.present?
      = link_to l(post.at.to_date, format: :long), [:edit, post], class: [css_class, 'text-reset']
    - else
      = l(post.at.to_date, format: :long)

  .mb-3= post.body.html_safe

  - if photos.present?
    .d-flex.flex-wrap.align-items-center
      = render photos

  .row.mt-3
    .col-md-8
      = render post.comments.created_at_asc
      = form_with model: post.comments.new do |f|
        .mb-3
          = f.text_area :body, rows: 3, placeholder: 'Share your thoughts!', class: 'form-control'
        .mb-3
          = f.hidden_field :post_id
          = hidden_field_tag :access_token, params[:access_token]
          = f.submit 'Comment', class: 'btn btn-outline-success'

  .d-flex.justify-content-between
    - previous_post = Post.at_desc.where.not(id: post.id).find_by(at: Time.zone.at(0)..post.at)
    - if previous_post.present?
      = link_to "Previous: #{previous_post.title.presence || l(previous_post.at.to_date)}", previous_post, class: "btn btn-info"
    - next_post = Post.past.at_asc.where.not(id: post.id).find_by(at: post.at..Time.current)
    - if next_post.present?
      = link_to "Next: #{next_post.title.presence || l(next_post.at.to_date)}", next_post, class: "btn btn-info"
