- title 'Blog', false

- content_for :sidebar do

  - if current_user.parent?
    .d-grid.gap-2
      = link_to [:new, :post], class: 'btn btn-success' do
        %i.bi-plus-lg
        New Blog Post
    %hr

    %h3 Visitors
    %ul.list-unstyled
      - User.where.not(id: current_user.id).viewed_blog_at_desc.limit(8).each do |user|
        %li
          %strong= user.name
          &mdash;
          = time_tag user.viewed_blog_at, is: 'relative-time', title: l(user.viewed_blog_at) do
            = time_ago_in_words user.viewed_blog_at
            ago
    %hr

    %h3 Comments
    %ul.list-unstyled
      - Comment.created_at_desc.limit(5).each_with_index do |comment, i|
        %li
          %strong= comment.user.try(:name)
          &mdash;
          = time_tag comment.created_at, is: 'relative-time', title: l(comment.created_at) do
            = time_ago_in_words comment.created_at
            ago
    %hr

    %h3 Search
    = form_with url: :posts, method: :get do |f|
      .mb-3
        = f.label :ends_on, 'Date', class: 'form-label'
        = f.date_field :ends_on, value: @ends_on, class: 'form-control'
      .mb-3
        = f.label :term
        = f.text_field :term, value: params[:term], class: 'form-control', placeholder: 'Search term'
      .mb-3.d-grid
        = f.submit 'Search', class: 'btn btn-primary'
    %hr

  - if @past_posts.present?
    %h3 Calendar
    #calendar-accordion.accordion.text-dark
      - @past_posts.to_a.group_by { |post| post.at.year }.each do |year, posts|
        .accordion-item
          %h2.accordion-header
            %button.accordion-button{ type: 'button', class: year == Time.current.year ? '' : 'collapsed', data: { bs: { toggle: 'collapse', target: "#accordion-content-#{year}" } } }
              = year
          .accordion-collapse.collapse{ id: "accordion-content-#{year}", class: year == Time.current.year ? 'show' : '', data: { bs: { parent: '#calendar-accordion' } } }
            .list-group.list-group-flush
              - posts.each do |post|
                = link_to post.title.presence || l(post.at.to_date), post, class: 'list-group-item list-group-item-action'

  - if current_user.parent? && Post.post_tag_counts.present?
    %hr
    - tag_counts = Post.tag_counts_on(:post_tags).order(taggings_count: :desc)
    = render partial: 'shared/tag_list', locals: { path: :posts, tag_counts: tag_counts }

= render @future_posts if current_user.parent?

- if @past_posts.empty?
  .alert.alert-warning
    %h2 Nothing to see here.
    %p Apparently, we're not that interesting. :)
    = link_to 'Show all posts', :posts
- else
  - @past_posts = @past_posts.page(params[:page])
  = render @past_posts
  = paginate @past_posts
