!!! XML
%rss{:version => '2.0'}
  %channel
    %title Daniel &amp; Erika's blog
    %link= posts_url
    %description
      The (private) blog of Daniel and Erika Esplin in St. George, Utah.
    %language en-us
    %pubDate= Time.now.rfc822

    - @past_posts.each do |post|
      %item
        %title= post.title
        %description
          %p= post.title
          %p
            - if post.photos.count > 0
              Includes #{pluralize(post.photos.count, 'picture')}!
            - else
              No pictures. :(
        %link= posts_url
        %guid= post.id
        %pubDate= post.at.rfc822
