- title 'Blog', false

- if Current.user.present?

  - content_for :sidebar do

    .d-grid.gap-2
      = link_to [:new, :post], class: 'btn btn-success' do
        %i.bi-plus-lg
        New Blog Post
    %hr

    %h3 Visitors
    %ul.list-unstyled
      - User.guest.order(viewed_blog_at: :desc).each do |user|
        %li.d-flex.justify-content-between.mb-2
          %strong= user.name
          - if user.viewed_blog_at.present?
            = time_tag user.viewed_blog_at, is: 'relative-time', title: l(user.viewed_blog_at) do
              = time_ago_in_words user.viewed_blog_at
              ago
          = link_to 'Email', '#', class: 'btn btn-sm btn-warning'
    %hr

    - all_posts = Post.at_desc
    - cache(all_posts) do
      %h3 Calendar
      #calendar-accordion.accordion.text-dark
        - all_posts.to_a.group_by { |post| post.at.year }.each do |year, posts|
          .accordion-item
            %h2.accordion-header
              %button.accordion-button{ type: 'button', class: year == Time.current.year ? '' : 'collapsed', data: { bs: { toggle: 'collapse', target: "#accordion-content-#{year}" } } }
                = year
            .accordion-collapse.collapse{ id: "accordion-content-#{year}", class: year == Time.current.year ? 'show' : '', data: { bs: { parent: '#calendar-accordion' } } }
              .list-group.list-group-flush
                - posts.each do |post|
                  - css_classes = 'list-group-item list-group-item-action'
                  - if post.at.future?
                    - next unless Current.user.parent?
                    - css_classes << ' list-group-item-secondary'
                  = link_to post, class: css_classes do
                    - if post.at.future?
                      %i.bi-calendar3{ title: "Unpublished" }
                      &nbsp;
                    = post.title.presence || l(post.at.to_date)

    .d-grid.gap-2.mt-3
      = link_to :print_batches, class: 'btn btn-info' do
        %i.bi-printer
        Print by Year

= render @post
