= form_for @nutritional_post, html: { class: 'form-horizontal' } do |f|
  - if f.object.errors.any?
    .form-group.alert.alert-danger
      = f.object.errors.full_messages.to_sentence
  .form-group
    = f.label :published_at, class: 'control-label col-md-2'
    .col-md-10
      = text_field_tag :published_at, l(f.object.published_at), class: 'datetimepicker form-control', tabindex: 1
      = f.hidden_field :published_at, value: l(f.object.published_at, format: :db), class: 'datetimepicker-hidden'
  .form-group
    = f.label :title, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :title, class: 'form-control', tabindex: 2
  .form-group
    = f.label :bite, class: 'control-label col-md-2'
    .col-md-10
      = f.text_area :bite, rows: 3, class: 'form-control', tabindex: 3
  .form-group
    = f.label :full_plate, class: 'control-label col-md-2'
    .col-md-10
      = f.text_area :full_plate, rows: 10, class: 'form-control', tabindex: 4
      %span.help-block.pull-right
        = link_to 'Formatting options', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: :blank
  .form-group
    .col-md-offset-2.col-md-10
      = hidden_field_tag :redirect_to, request.referrer || entries_path
      %button.btn.btn-primary{ type: 'submit', tabindex: 4 } Save
      = link_to 'Cancel', nutritional_posts_path, class: 'btn', tabindex: 5
