.btn-group.pull-right
  = link_to 'http://nutritionalbites.org', class: 'btn btn-info' do
    %i.icon-smile
    Nutritional Bites
  - if can? :create, NutritionalPost
    = link_to new_nutritional_post_path, class: 'btn btn-success' do
      %i.icon-white.icon-plus
      New Post

- @nutritional_posts.each do |post|
  %h1
    - if can? :edit, post
      .btn-group.pull-right
        = link_to [:edit, post], class: 'btn btn-small' do
          %i.icon-edit
          Edit
        = link_to post, class: 'btn btn-small', method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } do
          %i.icon-trash
          Delete
    = link_to post.title, post
  #{post.bite.html_safe}
  %hr
