.btn-group.pull-right
  = link_to 'http://nutritionalbites.org', class: 'btn btn-info' do
    %i.fa.fa-smile-o
    Nutritional Bites
  - if can? :create, NutritionalPost
    = link_to new_nutritional_post_path, class: 'btn btn-success' do
      %i.fa.fa-inverse.fa-plus
      New Post

%br.clearfix

- @nutritional_posts.each do |post|
  %h1
    - if can? :edit, post
      .btn-group.pull-right
        = link_to [:edit, post], class: 'btn btn-small' do
          %i.fa.fa-edit
          Edit
        = link_to post, class: 'btn btn-small', method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } do
          %i.fa.fa-trash-o
          Delete
    = link_to post do
      = post.title
      - if post.published_at
        %small= l post.published_at
  #{post.bite.html_safe}
  %hr
