- content_for :sidebar do
  .d-grid.gap-2
    = link_to %i[new decider_list], class: 'btn btn-success' do
      %i.bi-plus-lg
      New List

  %hr
  = form_with model: DeciderList.new do |f|
    - if f.object.errors.any?
      .alert.alert-danger= f.object.errors.full_messages.to_sentence
    .mb-3
      = f.label :name, class: 'form-label visually-hidden'
      = f.text_field :name, class: 'form-control'
    .mb-3.d-grid.gap-2
      = f.submit 'Add List', class: 'btn btn-primary'

.list-group
  - @lists.each do |list|
    = link_to list.name, list, class: 'list-group-item'
