%h1= @list.name

- content_for :sidebar do
  .d-grid.gap-2
    = link_to :decider_lists, class: 'btn btn-info' do
      All Lists
    = link_to @list, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } do
      %i.bi-trash-fill
      Delete

  %hr
  = form_with model: @list do |f|
    - if f.object.errors.any?
      .alert.alert-danger= f.object.errors.full_messages.to_sentence
    .mb-3
      = f.label :name, class: 'form-label visually-hidden'
      = f.text_field :name, class: 'form-control'
    .mb-3.d-grid.gap-2
      = f.submit 'Rename', class: 'btn btn-primary'

  %hr
  = form_with model: [@list, @list.items.new] do |f|
    = f.hidden_field :decider_list_id
    - if f.object.errors.any?
      .col-12= f.object.errors.full_messages.to_sentence
    .mb-3
      %h3 Add to List: #{@list.name}
    .mb-3
      = f.label :name, class: 'form-label visually-hidden'
      = f.text_field :name, class: 'form-control'
    .mb-3.d-grid.gap-2
      = f.submit 'Save', class: 'btn btn-primary'

- if @list.items.empty?
  %p.text-muted This list is empty.

.list-group
  - @list.items.order(%i[picked_at name]).each do |item|
    .list-group-item
      %span.text-muted= l item.picked_at
      = item.name
      = link_to "Delete", item, class: 'btn btn-default btn-xs pull-right', method: :delete
