%h1= @list.name

- content_for :sidebar do
  .d-grid.gap-2
    = link_to [:edit, @list], class: 'btn btn-info' do
      %i.bi-pencil-fill
        Edit List
    = link_to [:new, @list, :decider_list_item], class: 'btn btn-success' do
      %i.bi-plus-lg
      Add to List
    = link_to @list, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } do
      %i.bi-trash-fill
      Delete

- if @list.items.empty?
  %p.text-muted This list is empty.

.list-group
  - @list.items.order(%i[picked_at name]).each do |item|
    .list-group-item
      %span.text-muted= l item.picked_at
      = item.name
      = link_to "Delete", item, class: 'btn btn-default btn-xs pull-right', method: :delete
