- title 'Thoughts'

.btn-group.pull-right
  = link_to thoughts_path(:kind => 'past'), class: 'btn' do
    Past
  = link_to thoughts_path(:kind => 'future'), class: 'btn' do
    Future

= form_for @thought do |f|
  %table.table
    %thead
      %tr
        %th User
        %th Date
        %th Thought
        %th
    %tbody
      - @thoughts.each do |thought|
        %tr
          %td= thought.user.try(:name)
          %td=l thought.on
          %td= thought.body
          %td= link_to 'Edit', [:edit, thought], class: 'btn btn-small'
    %tfoot
      %tr
        %td= f.select :user_id, User.all.map { |u| [u.name, u.id] }
        %td= f.date_select :on, order: [:month, :day, :year], start_year: Date.today.year, end_year: Date.today.year + 1
        %td= f.text_area :body, rows: 3
        %td= f.submit 'Add', class: 'btn btn-small btn-primary'
