.navbar-header
  %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#navbar' } }
    %span.sr-only Toggle Navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to 'Daniel & Erika', :root, class: 'navbar-brand'

.collapse.navbar-collapse#navbar
  %ul.nav.navbar-nav
    - if can? :index, Post
      %li{class: controller.controller_name == 'posts' && 'active'}
        = link_to :posts do
          %i.fa.fa-picture-o
          Blog
    - if can?(:create, Entry) || current_user.grandparent?
      %li{class: controller.controller_name == 'entries' && 'active'}
        = link_to entries_path do
          %i.fa.fa-book
          Journal
    - if can? :manage, Photo
      %li{class: controller.controller_name == 'photos' && 'active'}
        = link_to photos_path do
          %i.fa.fa-camera
          Photos
    - if can? :manage, Note
      %li{class: controller.controller_name == 'notes' && 'active'}
        = link_to :notes do
          %i.fa.fa-file-text-o
          Notes
    - if can? :index, :report
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
          %i.fa.fa-list
          Misc
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Users', users_path
          %li= link_to 'Files', saved_files_path
          %li= link_to 'Offline', '/offline'
          - if can? :manage, InventoryItem
            %li= link_to 'Household Inventory', :inventory_items
    - if can? :index, :report
      %li.dropdown{class: controller.controller_name == 'reports' && 'active'}
        = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
          %i.fa.fa-file-o
          Reports
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Statistics', statistics_report_path
          %li= link_to 'Untimed Photos', untimed_photos_report_path
          %li= link_to 'Unblogged Photos', unblogged_photos_report_path
          %li= link_to 'Comments', comments_path

  %ul.nav.navbar-nav.navbar-right
    %li.dropdown
      = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        %i.fa.fa-user
        = current_user.name
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to 'Edit Profile', [:edit, current_user]
        %li.divider
        %li
          = link_to 'Log Out', logout_path, method: :delete
