%nav.navbar.navbar-expand-lg.navbar-dark
  .container-fluid
    = link_to 'Daniel & Erika', :root, class: 'navbar-brand'
    %button.navbar-toggler{ type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#navbarSupportedContent", "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation" }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        - if current_user.parent?
          %li.nav-item
            = link_to :posts, class: "nav-link #{"active" if controller.controller_name == "posts" }" do
              %i.bi-card-image
              Blog
          %li.nav-item
            = link_to :entries, class: "nav-link #{"active" if controller.controller_name == "entries" }" do
              %i.bi-book-half
              Journal
          %li.nav-item
            = link_to :photos, class: "nav-link #{"active" if controller.controller_name == "photos" }" do
              %i.bi-camera-fill
              Photos
          - if current_user.father?
            %li.nav-item
              = link_to :notes, class: "nav-link #{"active" if controller.controller_name == "notes" }" do
                Study
          %li.nav-item.dropdown
            = link_to "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", data: { "bs-toggle": "dropdown" }, "aria-expanded": false do
              Misc
            %ul.dropdown-menu{ "aria-labelledby": "navbarDropdown" }
              %li= link_to 'Users', :users, class: "dropdown-item"
              %li= link_to 'Household Inventory', :inventory_items, class: "dropdown-item"
              %li= link_to 'Decider Lists', :decider_lists, class: "dropdown-item"
        %li.nav-item.dropdown
          = link_to "#", class: "nav-link dropdown-toggle", id: "navbarDropdownUser", role: "button", data: { "bs-toggle": "dropdown" }, "aria-expanded": false do
            = current_user.name
          %ul.dropdown-menu{ "aria-labelledby": "navbarDropdownUser" }
            %li= link_to "Edit Profile", [:edit, current_user], class: "dropdown-item"
            %li.divider
            %li= link_to "Log Out", :logout, method: :delete, class: "dropdown-item"
