!!!
%html{ lang: 'en' }

  %head
    %title
      - if content_for? :title
        D&amp;E - #{yield(:title)}
      - else
        Daniel &amp; Erika
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
    %link{ rel: 'alternate', title: 'Daniel & Erika Esplin', href: posts_url(format: 'rss'), type: 'application/rss+xml' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", integrity: "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity: "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/trix@1.3.1/dist/trix.css"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/trix@1.3.1/dist/trix.js"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield :head if content_for? :head

  %body.bg-dark.text-light{ id: "#{controller.controller_name.dasherize}-controller" }
    .container
      - if current_user.present? && controller.controller_name != 'decider_list_picker'
        %header= render 'layouts/nav'

      %section.mb-3
        .row
          = render 'layouts/flash_hash'
          - if content_for? :sidebar
            .col-md-3.order-md-last
              = yield :sidebar
            .col-md-9.order-md-first
              = yield
          - else
            .col= yield

      %footer
        %p.text-center.text-muted
          &copy; #{Time.zone.now.year}
          = link_to 'Nutritional Bites LLC', 'http://www.nutritionalbites.org'
