!!!
%html{ lang: 'en' }

  %head
    %title
      - if content_for? :title
        D&amp;E - #{yield(:title)}
      - else
        Daniel &amp; Erika
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
    %link{ rel: 'alternate', title: 'Daniel & Erika Esplin', href: posts_url(format: 'rss'), type: 'application/rss+xml' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity: "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin: "anonymous"
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
    :javascript
      document.addEventListener("DOMContentLoaded", function(event) {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
          return new bootstrap.Toast(toastEl, { autohide: false }).show()
        })
      })

  %body.bg-dark.text-light{ id: "#{controller.controller_name.dasherize}-controller" }
    .container
      - if current_user.present? && %w[decider_list_picker print_batches].exclude?(controller.controller_name)
        %header= render 'layouts/nav'

      %section.mb-3
        = render 'layouts/flash_hash'
        .row
          - if content_for? :sidebar
            .col-md-3.order-md-last
              = yield :sidebar
            .col-md-9.order-md-first
              = yield
          - else
            .col= yield

      - if current_user.present? && %w[decider_list_picker print_batches].exclude?(controller.controller_name)
        %footer
          %p.text-center.text-muted
            &copy; #{Time.zone.now.year}
            = link_to 'Nutritional Bites LLC', 'http://www.nutritionalbites.org'
